{% extends 'base.html' %}

{% block head %}
<title>Painter</title>
{% endblock %}

{% block body %}
<div class="contents">
    <br>
    <div class="row" style=" margin-top: 0pxs; margin: 10px;padding: 0px;align-content: right">
        {% if tasks|length > 0 %}
        <div class="col-sm-6">
            <div class="card" style="width: 32rem; margin-left: auto;">
                <div class="card-body">
                    
                {% for task in tasks %}
                <!-- bw -->
                    <img src={{task.content}}
                        class="rounded float-left" alt="Before" style="width: 30rem; ">                   
                {% endfor %}
                </div>
            </div>
            
        </div>
        
        <div class="col-sm-6" >
            <div class="card" style="width: 32rem;">
                <div class="card-body">
                    <!-- color -->
                    <img id='after' src={{output}} class="rounded float-left" style="width: 30rem;" >
                    
                </div>
            </div>
        
        </div>
        {% else %}
            <div class="container rounded-left"
                style="text-align: center; border-radius:10px; width: 40em;padding: 10px; margin-top: 80px;box-shadow:0px 0px 10px #888888">
                <h3 style="font-family: initial;">Enter URL of a Black and White Image to a get a coloured version.</h3>
                <h3>Your images will be displayed here.</h3>
            </div>
        {% endif %}
    </div>
    <div class="row" style="align-content: center;  text-align: center;">
        <div class="form-group">
            <form action="/home" method="POST">
                <input class=" col-xs-2 form-control" type="text" name='content' id='content' placeholder="Enter image Url Here">
                <br>
                <input class="btn btn-dark" type="submit" value="Add Image">
                
                <a href={{output}} style="width: 20px;" download="color.png"><button type="button"
                        class="btn btn-secondary">Download</button></a>
                
            </form>
        </div>
    </div>
    <div class="container">
    {% if tasks|length < 1 %}
    <div class="container" style="text-align: center;">
    <h4>Image Logs </h4>
    </div>
    {% else %}
    <table class="table">
        <tr>
            <th>Image URL</th>
            <th>Added</th>
            <th>Before</th>
            <th>After</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr class="table-row thead-dark">
                <td >{{ task.content }}</td>
                <td>{{task.date_created.date()}}</td>
                <!-- bw -->
                <td><img src={{ task.content }} alt="Before" width="100px"></td>
                <!-- color -->
                <td><img src={{output}} alt="After" width="100px"></td>
                <td>
                    <a href="/delete/{{task.id}}" style="width: 20px;"><button type="button" class="btn btn-secondary">Delete</button></a>
                    <br><br>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#273036" fill-opacity="1"
        d="M0,128L26.7,133.3C53.3,139,107,149,160,149.3C213.3,149,267,139,320,160C373.3,181,427,235,480,256C533.3,277,587,267,640,218.7C693.3,171,747,85,800,53.3C853.3,21,907,43,960,80C1013.3,117,1067,171,1120,202.7C1173.3,235,1227,245,1280,229.3C1333.3,213,1387,171,1413,149.3L1440,128L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z">
    </path>
</svg>
{% endblock %}
